body {
    background-image: url("pictures/HowardStern.jpg");
    background-size: cover;
    font-family: 'Luckiest Guy', cursive;
}
h1{
    left: 500px;
    position: absolute;
    color: brown;
}
#divPoints {
    position: absolute;
    left: 170px;
    top: 57px;
    font-size: 20px;
    color: greenyellow;
}
#Beetle {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}
#BeetlePoints {
    position: absolute;
    left: 10px;
    height: 115px;
    width:160px ;
}
#upgradesTab {
    position: fixed;
    background-color: gray;
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    border-left: black ridge 2px;
}
#bpsOut{
    position: absolute;
    left: 500px;
    top: 50px;
}
#video{
    position: absolute;
    left: 20px;
    bottom: 0;
    height: 300px;
    width: 480px;
}
#openUpgrades {
    position: absolute;
    right: 100px;
    top: 50px;
    width: 100px;
    height: 33px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    border-radius: 10%;
}
#exitUpgrades{
    border-radius: 50%;
    top: 25px;
    left: 25px;
    position: absolute;
    font-family: 'Luckiest Guy', cursive;
}
#pete{
    padding-top: 50px
}
.upgrades {
    padding-left: 50px;
    width: 200px;
    height: 200px;
}
.price {
    padding-left: 50px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
}
