main > div {
    padding: 8px;
}

#left {
    display: grid;
    grid-gap: 8px;
    max-width: 200px;
    float: left;
}

#info {
    grid-column: 1;
    grid-row: 1;
    padding: 8px;
    background-color: white;
}

#ad {
    grid-column: 1;
    grid-row: 2;
}

#itemsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.item {
    padding: 8px;
}

.item > div {
    vertical-align: bottom;
}

.item button {
    float: right;
}

.item h3, .item p {
    display: inline-block
}

.item > p {
    margin: 8px 0 0 0;
    float: right;
}

@media only screen and (max-width: 782px) {
    #itemsGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    #itemsGrid {
        grid-template-columns: 1fr;
    }
}