body {
    background-color: darkkhaki;
}
.playerBar {
    padding-top: 43px;
}
.player {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    Border: solid black 3px;
}
.map {
    padding-left: 17%;
    position: absolute;
    width: 66%;
}
.fix {
    display: grid;
    grid-template-columns:repeat(2,200px);
    padding-top: 50%;
}
#background {
    padding-left: 17%;
    width: 66%;
    position: absolute;
}
#topBar {
    display: grid;
    padding-right: 10%;
    padding-left: 10%;
    grid-template-columns:repeat(1,300px) repeat(2,1fr);

}
#logo {
    height: 100px;
}
#divBtn {
    padding-top: 43%;
    padding-left: 17%;
    padding-bottom: 5%;
    position: absolute;
    z-index: 1;
}




