header div {
    margin: 8px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
    padding: 8px;
}

h3 {
    padding: 0;
    width: auto;
    margin: 8px 0;
}

button {
    outline: none;
    font-size: medium;
    font-weight: bold;
    padding: 8px 16px;
}

button:hover {
    cursor: pointer;
}

button:active {
    color: darkslategrey;
}

header {
    height: 40px;
    color: white;
    background-color: black;
}

header * {
    display: inline-block;
    margin: 0;
    width: auto;
}

header > #loginBtn {
    float: right;
    height: 100%;
    border: none;
    color: inherit;
    background-color: transparent;
}

header img {
    margin: 4px;
    max-height: 32px;
}

#leftBox {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 200px;
    max-width: 500px;
}

#mainBox {
    display: inline-block;
    max-width: 500px;
}

.textDiv {
    padding: 8px;
    color: #757575;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    footer, h3 {
        text-align: center;
    }

    #leftBox {
        width: auto;
    }
}